@font-face {
  font-family: "Trip Sans";
  src: /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url("/font/TripSans-Medium.ttf")
    format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
  font-family: "Trip Sans", Inter, Avenir, Helvetica, Arial, sans-serif;

  font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
  --trip-ease: cubic-bezier(0.25, 0.1, 0, 1);
  --black: #000;
  --gray-5: #121212;
  --gray-10: #191919;
  --gray-15: #232323;
  --gray-20: #333;
  --gray-30: #545454;
  --gray-50: #757575;
  --gray-70: #bababa;
  --gray-80: #e0e0e0;
  --gray-95: #f2f2f2;
  --white: #fff;
  --beige-90: #f2f1ec;
  --beige-80: #e7e3da;
  --beige-60: #beb59d;
  --beige-50: #a99e7e;
  --yellow-90: #fff7e1;
  --yellow-80: #fee39a;
  --yellow-70: #f7d36e;
  --yellow-60: #fdc735;
  --brand-yellow: #f2b203;
  --brand-pink: #fcc;
  --red-80: #f8a1a3;
  --brand-red: #ff5d5d;
  --red-50: #d53939;
  --red-40: #b5262b;
  --red-60-dark-mode: #e06666;
  --purple-90: #f2ecf9;
  --purple-80: #dfd3ee;
  --purple-70-dark-mode: #b8a3d8;
  --purple-70: #ae92d3;
  --brand-purple: #7446af;
  --purple-30: #52327c;
  --purple-20: #301d49;
  --green-90: #eafaf4;
  --green-80: #c9f2e3;
  --green-70: #84e9bd;
  --brand-green-dark-mode: #84e9bd;
  --brand-green: #34e0a1;
  --green-40: #0fd28a;
  --green-30: #00aa6c;
  --green-10: #004f32;
  --brand-cream: #faf1ed;
  --cream-80: #dcd4d1;
  --primary-warning: #f73;
  --primary-danger: #c00;
  --primary-danger-dark-mode: #e06666;
  --michelin-red: #bd2333;
  --scrimImage: blur(4px);
  --shadowLarge: 0 2px 54px 0 rgba(0, 0, 0, 0.1);
  --shadowMedium: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  --shadowSmall: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  --ta-sans-serif: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  --ta-serif: Georgia, "Times New Roman", "Century Schoolbook L", serif;
  --ta-monospace: "Trip Sans Mono", Courier, monospace, Arial, sans-serif;
  --trip-sans-regular: 400;
  --trip-sans-medium: 700;
  --trip-sans-bold: 800;
  --trip-sans-ultra: 900;
  --gridGutterLarge: 24px;
  --gridGutterMedium: 16px;
  --gridGutterSmall: 8px;
  --gridMarginLarge: 24px;
  --gridMarginMedium: 16px;
  --gridMarginSmall: 8px;
  --radiusFullRounded: 100px;
  --radiusLarge: 8px;
  --radiusMedium: 6px;
  --radiusSmall: 4px;
  --breakpointLarge: 1184px;
  --breakpointMedium: 1024px;
  --breakpointSmall: 768px;
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 16px;
  --spacing-04: 24px;
  --spacing-05: 32px;
  --spacing-06: 48px;
  --spacing-07: 56px;
  --spacing-08: 64px;
  --spacing-09: 80px;
  --spacing-10: 96px;
  --overlays: 10104;
  --primaryBackground: var(--white);
  --primaryBackgroundHover: var(--gray-95);
  --primaryBackgroundPressed: var(--gray-80);
  --secondaryBackground: var(--gray-95);
  --tertiaryBackground: var(--gray-80);
  --quaternaryBackground: var(--black);
  --navigationBackground: var(--white);
  --footerBackground: var(--brand-cream);
  --creamBackground: var(--brand-cream);
  --green90Background: var(--green-90);
  --pinkBackground: var(--brand-pink);
  --green10Background: var(--green-10);
  --green30Background: var(--green-30);
  --yellowBackground: var(--brand-yellow);
  --yellow80Background: var(--yellow-80);
  --purpleBackground: var(--brand-purple);
  --brandBackground: var(--brand-green);
  --lightYellowBackground: var(--yellow-90);
  --lightPurpleBackground: var(--purple-90);
  --purple80Background: var(--purple-80);
  --redBackground: var(--brand-red);
  --beigeBackground: var(--beige-90);
  --plusBackground: var(--purple-30);
  --grayBackground: var(--gray-30);
  --exploreHeaderBackground: #ffc4bc;
  --scrimModal: rgba(0, 0, 0, 0.4);
  --scrimImageFull: rgba(0, 0, 0, 0.4);
  --scrimImageStart: rgba(0, 0, 0, 0.6);
  --scrimImageEnd: rgba(0, 0, 0, 0);
  --overlayBackground: var(--white);
  --secondaryDialogBackground: rgba(0, 0, 0, 0.9);
  --scrimPrimaryBackgroundStart: var(--white);
  --scrimPrimaryBackgroundEnd: hsla(0, 0%, 100%, 0);
  --skeletonStart: var(--brand-cream);
  --skeletonEnd: var(--cream-80);
  --bottomNavTabBarBackground: var(--white);
  --noBackground: hsla(0, 0%, 100%, 0);
  --scrimFab: rgba(0, 0, 0, 0.8);
  --primaryIcon: var(--black);
  --primaryIconPressed: var(--gray-30);
  --secondaryIcon: var(--white);
  --secondaryIconPressed: hsla(0, 0%, 100%, 0.5);
  --onLightIcon: var(--black);
  --onDarkIcon: var(--gray-80);
  --primarySelectedIcon: var(--brand-red);
  --primarySelectedIconFill: var(--brand-pink);
  --primarySelectedIconPressed: rgba(255, 93, 93, 0.2);
  --activeMapPinIcon: var(--green-10);
  --bubbleIcon: var(--green-30);
  --starIconFilled: var(--gray-30);
  --starIconEmpty: var(--gray-70);
  --dragIcon: var(--gray-50);
  --dangerIcon: var(--primary-danger);
  --verifiedCheckMarkIcon: var(--green-30);
  --verifiedCheckmarkIcon: var(--green-30);
  --plusIcon: var(--purple-30);
  --socialProofGuaranteeIcon: var(--green-10);
  --socialProofGuaranteeIconFill: var(--green-80);
  --socialProofReviewsIcon: var(--brand-yellow);
  --socialProofReviewsIconFill: var(--yellow-90);
  --socialProofAttractionsIcon: var(--red-40);
  --socialProofAttractionsIconFill: var(--brand-pink);
  --primaryLink: var(--gray-20);
  --primaryLinkHover: var(--gray-30);
  --primaryLinkPressed: var(--black);
  --primaryLinkDisabled: var(--gray-70);
  --accentLink: var(--brand-purple);
  --accentLinkHover: var(--purple-70);
  --accentLinkPressed: var(--purple-80);
  --onDarkLink: var(--white);
  --onDarkLinkHover: var(--gray-80);
  --onDarkLinkPressed: var(--gray-70);
  --primaryText: var(--black);
  --secondaryText: var(--gray-20);
  --placeholderText: var(--gray-50);
  --invertText: var(--white);
  --largeDecorativeText: var(--brand-red);
  --accentPurpleText: var(--brand-purple);
  --strikethroughText: var(--red-50);
  --specialOfferText: var(--red-50);
  --onDarkText: var(--white);
  --onLightText: var(--black);
  --dangerText: var(--primary-danger);
  --mapPinText: var(--brand-purple);
  --michelinText: var(--michelin-red);
  --michelin: var(--michelin-red);
  --nextBestThingText: var(--green-10);
  --greenHighlightText: var(--green-30);
  --plusLogoText: var(--brand-purple);
  --plusOnLightText: var(--purple-30);
  --onLightButtonText: var(--black);
  --onLightButtonTextPressed: var(--gray-30);
  --buttonTextDisabled: var(--gray-70);
  --onDarkButtonText: var(--white);
  --onDarkButtonTextPressed: hsla(0, 0%, 100%, 0.5);
  --buttonSavesTextFillActive: var(--brand-red);
  --primaryButtonText: var(--white);
  --primaryButtonTextPressed: hsla(0, 0%, 100%, 0.5);
  --secondaryButtonText: var(--black);
  --secondaryButtonTextPressed: hsla(0, 0%, 100%, 0.5);
  --onLightSecondaryButtonText: var(--gray-20);
  --clearButtonTextPressed: var(--gray-30);
  --disabledButtonFill: var(--gray-80);
  --primaryButtonFill: var(--black);
  --primaryButtonFillHover: var(--gray-20);
  --primaryButtonFillPressed: var(--gray-30);
  --secondaryButtonFill: var(--white);
  --secondaryButtonStroke: var(--black);
  --secondaryButtonFillHover: var(--black);
  --secondaryButtonFillPressed: var(--gray-30);
  --secondaryButtonStrokePressed: var(--black);
  --commerceButtonFill: var(--brand-yellow);
  --secondaryCommerceButtonFill: var(--white);
  --secondaryCommerceButtonFillHover: var(--yellow-60);
  --secondaryCommerceButtonFillPressed: var(--yellow-70);
  --secondaryCommerceButtonStroke: var(--brand-yellow);
  --commerceButtonFillHover: var(--yellow-60);
  --commerceButtonFillPressed: var(--yellow-70);
  --secondaryCommerceButtonStrokePressed: var(--brand-yellow);
  --tertiaryCommerceButtonFill: var(--beige-80);
  --tertiaryCommerceButtonHover: var(--beige-60);
  --tertiaryCommerceButtonPressed: var(--beige-50);
  --plusButtonFill: var(--purple-30);
  --plusButtonFillHover: rgba(82, 50, 124, 0.9);
  --plusButtonFillPressed: rgba(82, 50, 124, 0.9);
  --onDarkButtonFill: var(--white);
  --onDarkButtonFillHover: var(--gray-95);
  --onDarkButtonFillPressed: var(--gray-80);
  --onDarkOutlineFillHover: var(--black);
  --onDarkOutlineFillPressed: var(--gray-30);
  --onDarkOutlineButtonStroke: var(--white);
  --lightButtonFill: var(--white);
  --lightButtonFillHover: var(--gray-95);
  --lightButtonFillPressed: var(--gray-80);
  --lightButtonStroke: var(--gray-80);
  --primaryCircularButtonFill: var(--white);
  --primaryCircularButtonHover: var(--gray-95);
  --primaryCircularButtonPressed: var(--gray-95);
  --primaryCircularButtonActivated: var(--black);
  --primaryCircularButtonWithBorderHover: var(--black);
  --primaryCircularButtonWithBorderFillPressed: var(--gray-30);
  --primaryCircularButtonWithBorderActivated: var(--black);
  --primaryCircularButtonWithBorderStroke: var(--black);
  --darkCircularButtonFill: var(--black);
  --darkCircularButtonFillHover: var(--gray-20);
  --darkCircularButtonFillPressed: var(--gray-30);
  --clearCircularButtonFill: rgba(0, 0, 0, 0);
  --clearCircularButtonFillHover: rgba(0, 0, 0, 0.07);
  --clearCircularButtonFillPressed: rgba(0, 0, 0, 0.07);
  --onDarkClearCircularButtonFill: hsla(0, 0%, 100%, 0);
  --onDarkClearCircularButtonFillHover: hsla(0, 0%, 100%, 0.24);
  --onDarkClearCircularButtonFillPressed: hsla(0, 0%, 100%, 0.24);
  --primaryAlertFill: var(--yellow-90);
  --warningAlertFill: var(--brand-cream);
  --dangerAlertFill: var(--brand-pink);
  --successAlertFill: var(--green-90);
  --dangerAlert: var(--primary-danger);
  --datePickerAlert: var(--brand-yellow);
  --notificationAlert: var(--brand-red);
  --plusAlert: var(--purple-30);
  --primaryAlert: var(--black);
  --successAlert: var(--green-30);
  --warningAlert: var(--primary-warning);
  --primaryAvatarFill: var(--green-30);
  --secondaryAvatarFill: var(--brand-pink);
  --primaryAvatarBackground: var(--brand-red);
  --awardTravelersChoice: var(--brand-green);
  --awardTravelersChoicePast: var(--brand-pink);
  --awardBestOfBest: var(--brand-yellow);
  --awardMichelin: var(--michelin-red);
  --chipFill: var(--white);
  --chipStroke: var(--gray-80);
  --chipStrokeSelected: var(--black);
  --secondaryChipFill: var(--gray-95);
  --secondaryChipFillSelected: var(--black);
  --controlFill: var(--white);
  --controlHover: var(--black);
  --controlSelected: var(--black);
  --controlSelectedHover: var(--gray-20);
  --controlStroke: var(--gray-50);
  --controlDisabled: var(--gray-80);
  --onLightControlFill: var(--white);
  --onLightControlHover: var(--black);
  --onLightControlSelected: var(--black);
  --onLightControlStroke: var(--gray-50);
  --onLightControlSelectedHover: var(--gray-20);
  --onLightControlDisabled: var(--gray-80);
  --primaryTabIndicator: var(--brand-green);
  --histogramBarFill: var(--green-30);
  --histogramBarFillDisabled: var(--gray-70);
  --primaryTrack: rgba(0, 0, 0, 0.1);
  --paginationTrack: rgba(0, 0, 0, 0.1);
  --paginationTrackOnDark: hsla(0, 0%, 100%, 0.5);
  --onDarkIndicator: var(--white);
  --primaryIndicator: var(--black);
  --paginationIndicator: var(--black);
  --paginationIndicatorOnDark: var(--white);
  --sliderIndicator: var(--gray-20);
  --sliderTrack: var(--gray-80);
  --sliderTrackDisabled: var(--gray-95);
  --sliderhandleStroke: var(--black);
  --sliderHandleStroke: var(--black);
  --primarySpinnerFill: var(--black);
  --secondarySpinnerFill: var(--gray-70);
  --fieldStrokeEnabled: var(--gray-80);
  --fieldStrokeDisabled: var(--gray-80);
  --fieldStrokeSelected: var(--black);
  --fieldBackground: var(--white);
  --fieldStrokeAlert: var(--primary-danger);
  --cursor: var(--brand-purple);
  --primaryLabelFill: var(--black);
  --secondaryLabelFill: var(--white);
  --secondaryLabelStroke: var(--black);
  --activeLabelFill: var(--green-80);
  --accentLabelFill: var(--red-50);
  --accentLabelStroke: var(--red-50);
  --accentLabelText: var(--red-50);
  --michelinLabelFill: var(--brand-cream);
  --merchandisingLabelFill: var(--yellow-90);
  --diningClubLabelFill: var(--brand-red);
  --expiredLabelFill: var(--brand-pink);
  --importantLabelFill: var(--yellow-80);
  --plusLabelFill: var(--brand-purple);
  --plusPendingStatusLabelFill: var(--beige-90);
  --plusStatusLabelFill: var(--purple-90);
  --dividerFill: var(--gray-80);
  --sectionDividerFill: var(--black);
  --primaryMapPinFill: var(--green-10);
  --primaryMapPinStroke: var(--white);
  --activeMapPinFill: var(--white);
  --activeMapPinStroke: var(--green-10);
  --menuItemHover: var(--gray-95);
  --menuItemPressed: var(--gray-80);
  --menuItemSelected: var(--gray-95);
  --primaryTagFill: var(--gray-95);
  --smallShadow: rgba(0, 0, 0, 0.15);
  --mediumShadow: rgba(0, 0, 0, 0.15);
  --largeShadow: rgba(0, 0, 0, 0.1);
  --scrimImagePartial: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6) 78%,
    rgba(0, 0, 0, 0.6)
  );
  --scrimPrimaryBackground: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 22%,
    #fff
  );
  --strokeSubscriber: linear-gradient(140deg, #52327c, #34e0a1);
  --strokeSubscriberEnd: var(--brand-green);
  --strokeSubscriberStart: var(--purple-30);
  --stepwiseFill: var(--black);
  --stepwiseStroke: var(--black);
  --strokeStandard: var(--brand-green);
  --switchOnFill: var(--green-30);
  --walletFill: var(--purple-90);
  --walletStroke: var(--purple-30);
  --walletText: var(--purple-30);
  --negativeBarFill: var(--brand-red);
  --promoContainerBackground: var(--white);
  --visitedMapPinFill: var(--green-30);
  --header-height: 8rem;
  --maxPageWidth: 1200px;
  --modalZIndex: 15;
  --modalContentZIndex: 16;
  --loadingIndex: 1000;
  --cartIndex: 12;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-height: 100vh;
  position: relative;
}
#app {
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Trip Sans";
}
input,
select {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:visited {
  color: var(--black);
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
